* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}